<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Azamon añadir producto externo</title>
</head>
<body>
    <h1>AZAMON | tienda externa</h1>
    <h3>añadir un nuevo articulo:</h3>
    <form method="post" action="Integrar_producto">
        <p><label>Nombre:</label> <label>
            <input type="text" name="nombre">
        </label></p>

        <p><label>Marca:</label> <label>
            <input type="text" name="marca">
        </label></p>

        <p><label>Modelo:</label> <label>
            <input type="text" name="modelo">
        </label></p>

        <p><label>Precio:</label> <label>
            <input type="number" name="precio">
        </label></p>

        <p><label>Peso:</label> <label>
            <input type="text" name="peso">
        </label></p>
        <p>
            <input type="submit" name="submit" value="registrarProducto">
        </p>
    </form>
</body>
</html>