<!DOCTYPE html>
<html>
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js" type="text/javascript"></script>

    <title>Azamon buscador</title>
    <style>
    button[disabled] {

background-color: grey;
color: #666666;
}

</style>
</head>
<body>
    <h1>AZAMON | asistente personal</h1>
    <h3>¿Qué estás buscando?</h3>

 {% if not products %}
     <form method="post">

    <p><label>Marca:</label> <input type="text" name="marca"></p>

    <p><label>Modelo:</label> <input type="text" name="modelo"></p>

    <p><label>Precio:</label> <input type="number" name="min_price"> - <input type="number" name="max_price"></p>

    <p>
        <button type="submit" name="submit" value="buscar">Send</button>
    </p>
     </form>
    {% else %}
        <form method="post" name="buscador" id="buscador">
            <table cellpadding="5px">
                <tr>
                    <th><b>NOMBRE</b></th>
                    <th><b>MARCA</b></th>
                    <th><b>MODELO</b></th>
                    <th><b>PRECIO</b></th>
                    <th><b>PESO</b></th>
                </tr>
                {% for item in products %}
                    {% if item.nombre %}
                    <tr>
                        <td>{{ item.nombre }}</td>
                        <td>{{ item.marca }}</td>
                        <td>{{ item.modelo }}</td>
                        <td>{{ item.precio }}</td>
                        <td>{{ item.peso }}</td>
                        <td><input type="checkbox" name="checkbox" value="{{ products.index(item) }}" onchange="hola()"></td>
                    </tr>
                    {% endif %}
                {% endfor %}
            </table>
            <input disabled="disabled" type="submit" name="submit" value="comprar">
        </form>
    {% endif %}

</body>
</html>
<script type="text/javascript">
    function hola() {
      var checkboxes = document.querySelectorAll('input[type="checkbox"]');
      var checkedOne = Array.prototype.slice.call(checkboxes).some(x => x.checked);

      document.querySelectorAll('input[type="submit"]')[0].disabled = true;
      if (checkedOne) {
        document.querySelectorAll('input[type="submit"]')[0].disabled = false;
      }
}

</script>

