<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Azamon Devolucion</title>
</head>
<body>
    <h1>AZAMON | asistente personal</h1>
    <h3>
        ¿No estás satisfecho con alguno de los productos?
    </h3>
    <a href="javascript:history.back()"></a>
    <form method="post">
        <table cellpadding="7px">
            <tr>
                <th></th>
                <th><b>PRODUCTOS</b></th>
                <th></th>
            </tr>
            {% for c in compras %}
                <tr>
                    <td>
                        <input type="checkbox" name="checkbox" value="{{ compras.index(c) }}">
                    </td>
                    <td>total: {{ c[2] }}</td>
                    <td> con: </td>
                    {%  for p in c[1] %}
                        <td>{{ p }}</td>
                    {% endfor %}
                    {% for r in range(count - tam[compras.index(c)]) %}
                        <td></td>
                    {% endfor %}
                </tr>
            {% endfor %}
        </table>
         <input type="submit" name="submit" value="Devolver">
    </form>
</body>
</html>