<!DOCTYPE html>
<html lang="en">

<form method="post">
    <table cellpadding="5px">
        <tr>
            <th><b>NOMBRE</b></th>
            <th><b>MARCA</b></th>
            <th><b>MODELO</b></th>
            <th><b>PRECIO</b></th>
            <th><b>PESO</b></th>
        </tr>
        {% for item in products %}
            {% if item[2] %}
            <tr>
                <td>{{ item[2] }}</td>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[5] }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
    <br>
    <td>PRECIO: {{ precio_total }}</td><br>
    <td>PRECIO TRANSPORTE: {{ precio_transporte }}</td><br>
    <td>FECHA LLEGADA: {{ fecha_llegada }}</td><br>

    {% if nombre_transportista %}
    <td>TRANSPORTISTA: {{ nombre_transportista }}</td><br>
    {% else %}
    <td>TRANSPORTISTA: Aún pendiente de asignar</td><br>
    {% endif %}
</form>
<body>

</body>
</html>