<!DOCTYPE html>
<html lang="en">

<form method="post">
    <table cellpadding="5px">
        <tr>
            <th><b>NOMBRE</b></th>
            <th><b>MARCA</b></th>
            <th><b>MODELO</b></th>
            <th><b>PRECIO</b></th>
            <th><b>PESO</b></th>
        </tr>
        {% for item in products %}
            {% if item.nombre %}
            <tr>
                <td>{{ item.nombre }}</td>
                <td>{{ item.marca }}</td>
                <td>{{ item.modelo }}</td>
                <td>{{ item.precio }}</td>
                <td>{{ item.peso }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
    <td>PRECIO: {{ precio_total }}</td>
    <td>TRANSPORTISTA: {{ nombre_transportista }}</td>
</form>
<body>

</body>
</html>