<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Azamon compra</title>
</head>
<body>
    <h1>AZAMON | asistente personal</h1>
    <h3>La compra ha sido procesada:</h3>

    <table cellpadding="5px">
        <tr>
            <th><b>NOMBRE</b></th>
            <th><b>MARCA</b></th>
            <th><b>MODELO</b></th>
            <th><b>PRECIO</b></th>
            <th><b>PESO</b></th>
        </tr>
        {% for item in products %}
            {% if item[2] %}
            <tr>
                <td>{{ item[2] }}</td>
                <td>{{ item[0] }}</td>
                <td>{{ item[1] }}</td>
                <td>{{ item[3] }}</td>
                <td>{{ item[5] }}</td>
            </tr>
            {% endif %}
        {% endfor %}
    </table>
    <br>
    <td>PRECIO: {{ precio_total }}</td><br>

    {% if  precio_transporte %}
    <td>PRECIO TRANSPORTE: {{ precio_transporte }}</td><br>
    {% else %}
    <td>PRECIO TRANSPORTE: Aún pendiente de asignar</td><br>
    {% endif %}


    {% if  fecha_llegada %}
    <td>FECHA LLEGADA: {{ fecha_llegada }}</td><br>
    {% else %}
    <td>FECHA LLEGADA: Aún pendiente de asignar</td><br>
    {% endif %}

    {% if nombre_transportista %}
    <td>TRANSPORTISTA: {{ nombre_transportista }}</td><br>
    {% else %}
    <td>TRANSPORTISTA: Aún pendiente de asignar</td><br>
    {% endif %}
</body>
</html>