<!DOCTYPE html>
<html lang="en">
<head>
    <title>Azamon TiendaExterna</title>
</head>
<body>

<h1>TIENDA EXTERNA</h1>
<h2>añadir un nuevo articulo:</h2>
<form method="post" action="">
    <p><label>Nombre:</label> <label>
        <input type="text" name="nombre">
    </label></p>

    <p><label>Marca:</label> <label>
        <input type="text" name="marca">
    </label></p>

    <p><label>Modelo:</label> <label>
        <input type="text" name="modelo">
    </label></p>

    <p><label>Precio:</label> <label>
        <input type="number" name="precio">
    </label></p>

    <p><label>Peso:</label> <label>
        <input type="text" name="peso">
    </label></p>

    <p>
        <input type="submit" name="submit" value="registrarProducto">
    </p>
</form>

</body>
</html>
